<mat-card>
    <img class="logoLogin" src="assets/images/logo.jpg">
    <mat-card-content>
        <form [formGroup]="form">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <mat-form-field>
                        <mat-label>Usuario</mat-label>
                        <input
                            type="text"
                            formControlName="usuario"
                            matInput />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input
                            type="password"
                            formControlName="password"
                            matInput />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="col-12">
                <button
                    type="submit"
                    mat-flat-button
                    color="accent"
                    [disabled]="form.invalid"
                    (click)="iniciarSesion($event)">Iniciar Sesion</button>
                <button
                    type="button"
                    mat-flat-button
                    color="accent"
                    (click)="limpiarFormulario()">Limpiar</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>