/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-header {
    // background-color: #0c1d7b;
    // background-color: #f5e92b;
    background-color: #686868;
    color: #ffffff;
    font-weight: 500;
}
.full-width {
    width: 100%;
}
.negrita {
    font-weight: bold;
}
