<div class="card">
    <div class="card-header">
        Consulta Grados y Titulos de Egresados de Institutos Tegnológicos y Pedagógicos
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="consultar($event)">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <mat-form-field class="full-width">
                        <mat-label>Número de Documento</mat-label>
                        <input
                            type="number"
                            formControlName="nroDocumento"
                            matInput>
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-md-4">
                    <button
                        type="submit"
                        mat-flat-button
                        color="accent"
                        [disabled]="form.invalid">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-minedu-mostrar-grados-titulos [titulos]="titulos"></app-minedu-mostrar-grados-titulos>